
# Environment Variables (Sensitive)
.env

# Python Environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Mac System
.DS_Store

# IDEs
.vscode/
.idea/

# Models & Checkpoints
*.pth
league_checkpoints/
queens_blood_model.pth

# Training Logs
runs/
